<!doctype html>
<html>
<head>
    <title>HaydenBucks Coffee Shop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="indexLanding">
<div class="container">

    <div class="jumbotron text-center">
        <h1 class="index">HaydenBucks<span><i class="fa fa-coffee" aria-hidden="true"></i>
        </span></h1>
        <img class="index" src="https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Coffee mug">

        <p class="baristaL">Start Order</p>
        <a href="/orderSystem" class="btn btn-default"><span class="fa fa-coffee"></span> Start an Order</a> 

        <p class="baristaL">Barista Login</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

    </div>

</div>
</body>
</html>
